@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: var(--cool-gray-200, #E5E7EB);
}

* {
  line-height: 150% !important;
}
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--cool-gray-500, #6B7280);
}

*::-webkit-scrollbar-track {
  background-color: var(--cool-gray-200, #E5E7EB);
}

@media (max-width: 650px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 460px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 7px;
  }
}